*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--text);

  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;

  cursor: none;
}

*,
*::before,
*::after {
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;
}
